@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
:root {
  --light-orange: rgb(233, 156, 100);
  --orange: chocolate;
  --light-yellow: rgb(239, 199, 97);
  --dark-yellow: darkgoldenrod;
  --search-orange:rgb(210 , 141 , 30)
}

/* first Navbar Line */
.nav,
.nav2-list-items {
  padding: 5px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav:nth-child(1) {
  justify-content: space-between;
  background-color: black;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav:nth-child(1) a:hover,
.nav2-items:hover {
  padding-top: 5.1px; /* move a little bit down */
  border: 1px solid white;
}
nav em {
  font-size: larger;
}
#all-btn {
    color: gray;
    background-color: lightgray;
    padding: 11px;
    margin-right: -6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  border-right: none;
}
#search-bar input {
    padding: 10px;
}
#search-icon {
    background-color: var(--search-orange);
    padding: 11px;
    margin-left: -6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}
#all-btn:hover {
    background-color: rgb(124, 123, 123);
    color: black;
}
#search-icon:hover {
    background-color: var(--dark-yellow);
}

/* Language open window */
#language {
  position: relative;
}
#language::before {
  display: none;
  position: absolute;
  content: "More Languages  English - En  Arabic - Ar  Hebrew - He";
  background-color: white;
  line-height: 2rem;
  color: black;
  padding: 10px;
  top: 40px;
  width: 120px;
}

#language:hover::before {
  display: block;
}

/* Account open window */
#account-name {
  position: relative;
}
#account-name::before {
  display: none;
  position: absolute;
  content: "Sign in";
  border-radius: 10px;
  background-color: var(--light-orange);
  line-height: 2rem;
  color: black;
  padding: 10px;
  top: 50px;
  width: 120px;
}

#account-name:hover::before {
  display: block;
}

/* second navbar line */
.nav:nth-child(2) {
  color: white;
  background-color: rgb(37, 51, 73);
}

.nav2-list-items {
  justify-content: flex-start;
  list-style: none;
}
.nav2-items {
  margin: 0 10px;
}

/* Third navbar line */
.nav:nth-child(3) {
  justify-content: space-around;
  border-bottom: 1px solid black;
  text-align: center;
}

.nav3-items img {
  height: 50px;
}
.nav3-items:nth-child(3) {
  color: brown;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.nav3-items sub {
  color: navy;
}
.nav3-items i {
  color: orange;
}
.nav3-items #price {
  margin: 15px 10px;
}

/* main page of the product (product Details) */
main {
  padding: 20px;
}
#main-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  justify-content: space-around;
}
#back {
  margin-left: 10px;
}
/* first column from left of the screen (gallery photos) */

#column1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#column1 img {
  width: 50px;
  margin: 5px;
  border-radius: 20%;
  border: 1px solid black;
}

/* Product Description */
#column3 {
  width: 500px;
  line-height: 1.5em;
  padding: 0 5px;
}

#main-Desc {
  font-size: calc(0.8rem + 0.8vw);
}

#column3 a,
#side a {
  color: teal;
  text-decoration: none;
}
#star {
  color: --light-orange;
}
#choice {
  background-color: black;
  color: white;
  padding: 5px;
}
#orange {
  color: --orange;
}
#Desc {
  border-bottom: 1px solid gray;
}

.gray {
  color: gray;
}

#table-Description {
  display: grid;
  width: 170px;
  grid-template-columns: repeat(2, 120px);
  grid-template-rows: 50px repeat(7, 20px);
  gap: 5px;
}

/* to merge two rows to one row down */
#table-Description span:nth-of-type(2),
#table-Description b:nth-of-type(2) {
  grid-row: 4 /6;
}
#table-Description a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
#table-Description img {
  width: 40px;

  height: fit-content;
}
.price-img:nth-child(1) {
  border: 1px solid red;
}
.price-img:nth-child(2) {
  border: 1px solid gray;
}
.price-img:nth-child(2):hover {
  border: 1px solid red;
}

#about {
  font-size: calc(0.5rem + 0.5vw);
  border-top: 1px solid gray;
}
#about ul {
  line-height: 2rem;
}
#about li {
  line-height: 1.2rem;
}
/* side bar */
#side {
  width: 230px;
  height: 720px;
  border: 1px solid gray;
  border-radius: 2%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.green {
  color: green;
}
#side button {
  border-radius: 30px;
  border-style: none;
}
#qty:hover {
  background-color: rgb(148, 145, 145);
}
#qty {
  padding: 1px 5px;
  box-shadow: 1px 1px 1px grey;
}
#addto-cart,
#buy-now {
  width: 180px;
  padding: 5px;
  text-align: center;
  font-size: 01rem;
}
#addto-cart {
  background-color: var(--light-yellow);
}
#buy-now {
  background-color: var(--light-orange);
}
#addto-cart:hover {
  background-color: var(--dark-yellow);
}
#buy-now:hover {
  background-color: var(--orange);
}

#side-table {
  width: 200px;
  padding: 10px;
  font-size: 0.6rem;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(6, 20px);
  gap: 5px;
  border-bottom: 1px solid gray;
}

#side-table section:nth-child(2n) {
  grid-column-start: 2;
  grid-column-end: 4;
}
#side-table section:nth-child(7),
#side-table section:nth-child(8) {
  grid-row-start: 4;
  grid-row-end: 6;
}
#side-table section:nth-child(11) {
  grid-column-start: 1;
  grid-column-end: 4;
}

/* Sell Box Right side */
#sell {
  text-align: center;
  padding: 2px;
  margin: 10px;
}

#sell-btn {
  padding: 5px;
  border: 1px solid gray;
  background-color: rgb(254, 251, 251);
  border-radius: 10px;
}
#sell-container {
  border: 1px solid gray;
  width: 230px;
  padding: 10px;
  gap: 10px;
  font-size: 0.7rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(7, 20px);
}

#sell-container img {
  width: 100px;
  grid-row-start: 1;
  grid-row-end: 5;
}
#sell-container section:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 5;
}
#sell-container section:nth-child(3),
#sell-container section:nth-child(4),
#sell-container section:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* plus package */
#plus-package {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 400px;
}
#plus-package:nth-child(1) {
  display: block;
}
.packages,#result {
  display: flex;
  flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 200px;
    margin: 10px;
}
.packages img {
    background-color: rgb(249, 249, 249);
    padding: 10px;
    margin: 10px;
    width: 180px;
    border-radius: 10px;
}
.packages a , #result a{
    text-decoration: none;
    color: teal;
}
#result{
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
}
#result button{
    width: 280px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--light-yellow);
}
#info{
    background-color: teal;
    border-radius: 50%;
    font-size: 1rem;
    padding:3px 7px;
    color: white;
}